<div class="google_bookshelves_shelf_column">
    {{#each books}}
        <div class="google_bookshelves_book"><a href="{{link}}" target="_blank"><img src="{{image}}"/></a></div>
    {{/each}}
    {{#if credits}}
        <div class="googleBookshelvesCredit">Plugin by <a href="http://www.adamwadeharris.com" target="_blank">Adam Harris</div>
    {{/if}}
</div>
