<div class="google_bookshelves_shelf_column">
    {{#each books}}
        <div class="google_bookshelves_book"><a href="{{link}}" target="_blank"><img src="{{image}}"/></a></div>
    {{/each}}
</div>
